html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
    color: #F2E8D8;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #00000080;
}

nav {
    gap: 20px;
    display: flex;
    flex-direction:row;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin: 16px 0;
}

a {
    text-decoration: none;
    color: #F2E8D8;
}

header .container, 
.hero .container {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}

.hero .container {
    gap:30px;
    padding-top: 100px;
    align-items: flex-end;
    height: 80dvb;
}

header .container {
    max-width: 1200px;
}

main {
    display: flex;
    flex-direction:column;
    align-items:space-between;
    padding:0;
    gap:24px;
}

.hero h1 {
    font-size:50px; 
    font-weight:bolder; 
    margin: 0;
}

.hero-background {
    background-image: linear-gradient(#00000080, #00000080), url("./images/hero-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 65%;
    background-attachment: fixed;
    padding-bottom: 20px;
    min-height: 100dvb;
}

.hero-image {
    max-width:400px;
    height:auto;
}

.hero-button {
    display:block;
    height:35px;
    width:200px;
    padding: 0 20px;
    font-size:16px;
    background: #960000;
    background: linear-gradient(90deg, rgba(150, 0, 0, 1) 0%, rgba(99, 0, 0, 1) 50%, rgba(82, 0, 0, 1) 100%);
    border: 0;
    box-shadow:   0 0 20px #000000;
    color:white; 
    text-align: center;
    align-content:center;
}

#members {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #8c0000;
    background: linear-gradient(90deg, rgba(140, 0, 0, 1) 0%, rgba(99, 0, 0, 1) 50%, rgba(82, 0, 0, 1) 100%);  
    border-style: solid;
    border-width: 2px 0;
    border-color: #260000;
    text-shadow: 0 0 20px black;
}

#members h1 {
    justify-self: center;
    padding: 0 0 20px 0;
}

#members .container {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width:1000px;
}

.member {
    display:flex;
    flex-direction:column;
    align-items: center;
}

.member img {
    width:200px;
    height:150px;
    box-shadow: 0 0 15px black;
}

footer {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    background-color:gray;
    color: white;
}

.hero-background.members-page {
    padding-top: 160px;
    padding-bottom: 40px;
    min-height:0;
    background-image:  linear-gradient(#00000080, #00000080), url("./images/hero-image.jpg");
    background-repeat: no-repeat;
    background-position: center 65%;
    background-size: cover;
    background-attachment: fixed;
}

.naslov h1 {
    font-size: 50px;
    margin:0px;
    margin:0px;
    text-shadow: 0 0 20px black
}

#image1 {
    float: left;
    width: 300px;
    height: 225px;
    margin: 0 20px 20px 0;
    box-shadow: 0 0 10px #260000;
}

#image2 {
    float: right;
    width: 200px;
    height: 280px;
}

#image3 {
    float: right;
    width:200px;
    height:300px;
}

#image4 {
    float: right;
    width:300px;
    height:375px;
}

#image5 {
    float:right;
    width:195px;
    height:144px;
}

#image2, #image3, #image4, #image5 {
    margin: 20px 0 20px 20px;
    box-shadow: 0 0 10px #260000;
}

.member-info p {
    margin-bottom: 5px;
}
#member-info, #about-info {
    background: linear-gradient(90deg, rgba(140, 0, 0, 1) 0%, rgba(99, 0, 0, 1) 50%, rgba(82, 0, 0, 1) 100%);
    height: auto;
    display: flow-root;
    padding: 20px 0;
    border-width: 2px 0;
    border-color: #260000;
    text-align:justify;
}

