body {
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #00000080
}

.header .container, 
.hero .container {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    color: #F9FAF8;
}

.hero .container {
    gap:30px;
    padding-top: 100px;
    align-items: flex-end;
    height: 80dvb;
}

.header .container {
    max-width: 1200px;
}

.basic-info {
    display: flex;
    flex-direction:column;
    align-items:space-between;
    padding:0;
    margin:50px;
    gap:24px;
}

.basic-info h1 {
    font-size:50px; 
    font-weight:bolder; 
    margin: 0;
}

.links {
    gap: 20px;
    display: flex;
    flex-direction:row;
}

.logo {
    font-size: 24px;
}

.hero-background {
    background-image: linear-gradient(#00000080, #00000080), url("./images/hero-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 65%;
    padding-bottom: 20px;
    min-height: 100dvb;
}

.hero-image {
    max-width:400px;
    height:auto;
}

.button-hero {
    height:35px;
    width:120px;
    font-size:16px;
    border-radius:4px;
    background-color: #580016;
    color:#F9FAF8;
    box-shadow: 3px;
}

.members {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FDF5E6;
    flex-wrap: wrap;
}


.members .container {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.member {
    display:flex;
    flex-direction:column;
    margin:50px;
}

.member img {
    width:400px;
    height:300px;
    border-radius: 10px;
}

.quote {
    background-color: #E5E7EB;
    color:#1F2937;
    padding:30px;
}

.quote .container {
    display:flex;
    flex-direction:column;
}

.action-call {
    padding:30px;
}

.action-popup {
    width:100%;
    height:auto;
    background-color: blue;
    display: flex;
    padding:20px;
    border-radius:20px;
    box-shadow: 20px;
    justify-content: space-between;
    align-items:center;
}

.action-message {
    display:block;
    color: white;
}

.action-button {
    display:flex;
    padding: 15px 30px;
    background-color: transparent;
    height: 20px;
    border-radius: 20px;
    color:white;
    align-items: center;
    justify-content: center;
}

.footer {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    background-color:gray
}